.main-container {
    width: 100%;

    .hero-container {
        max-width: 1440px;
        margin: 0 auto;
    }

    .dealer-search-container {
        max-width: 1440px;
        height: 470px;
        // padding: 0 179px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .dealer-search-left {
        width: 40%;

        h2 {
            font-weight: 700;
            font-size: 48px;
            line-height: 130%;
            color: #000000;
            margin-bottom: 72px;
        }

        p {
            font-weight: 500;
            font-size: 20px;
            line-height: 32px;
            color: #9B9B9B;
            margin-bottom: 12px;
        }

        .select-container {
            width: 100%;
            height: 56px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            position: relative;
            padding-left: 30px;

            .icon-container {
                position: absolute;
                top: 17px;
                left: 10px;
                width: 22px;
            }

            select {
                background: transparent;
                border: 0;
                height: 56px;
                width: 100%;
                background-image: url('../assets/Down-black.svg');
                background-repeat: no-repeat, repeat;
                background-position: right .7em top 50%, 0 0;
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;

                &::-ms-expand {
                    display: none;
                }
            }

        }
    }

    .dealer-search-right {
        width: 40%;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #000000;
    }

    .dealers-container {
        max-width: 1440px;
        min-height: 866px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
        padding: 0 89px;
        justify-content: center;
    }

    .banner-container {
        max-width: 1440px;
        margin: 0 auto;
        height: 600px;

        .banner {
            width: 1240px;
            height: 400px;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
        }

        .banner-background {
            width: 691px;
            height: 400px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: linear-gradient(90.63deg, rgba(0, 0, 0, 0.0001) 0.48%, #000000 53.17%);
            transform: rotate(-180deg);
        }

        .banner-image {
            width: 79%;
            position: absolute;
            left: 250px;
        }

        .banner-content {
            width: 691px;
            height: 400px;
            z-index: 2;
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 160px 0 60px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .banner-header {
                font-weight: 700;
                font-size: 48px;
                line-height: 62px;
                color: #fff;
                text-transform: uppercase;
                margin-bottom: 12px;
            }

            .banner-detail {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #fff;
                margin-bottom: 24px;
            }

            .mobile-apps {
                display: flex;
                flex-direction: row;
                gap: 12px;
            }
        }
    }

}