@import url('http://fonts.cdnfonts.com/css/mmc');

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'MMC';
  font-style: normal;
}

body,
h1,
h2,
p,
hr,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
  display: block;
}

button {
  cursor: pointer;
}
